*.swp
*.swo
*.rpm
*.pid
.DS_Store
conf/conf.json
logs/*
reports/*
vendor/*
pact/bin
pact/log
app.docker
goms
goms.err
goms.out
daemon.err
daemon.out
nohup.out
goms-pact
goms-pact.err
goms-pact.out
log/pact.log
/goms*
pact/*
app.docker
daemon.*
log/*
nohup.*