*.swp
*.swo
*.rpm
*.pid
.DS_Store
conf/conf.json
logs/*
reports/*
vendor/*
pact/bin
pact/log
app.docker
premium-carousel-api
premium-carousel-api.err
premium-carousel-api.out
daemon.err
daemon.out
nohup.out
premium-carousel-api-pact
premium-carousel-api-pact.err
premium-carousel-api-pact.out
log/pact.log
/premium-carousel-api*
pact/*
app.docker
daemon.*
log/*
nohup.*
goms*
