apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "premium-carousel-api.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "premium-carousel-api.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "premium-carousel-api.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
        app.kubernetes.io/name: {{ include "premium-carousel-api.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
    spec:
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      imagePullSecrets:
        - name: {{ .Values.image.pullSecret }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: prom
              containerPort: 8877
              protocol: TCP
          livenessProbe:
            httpGet:
              path: "{{ .Values.healthcheck.path }}"
              port: http
            initialDelaySeconds: {{ .Values.healthcheck.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.healthcheck.liveness.periodSeconds }}
          readinessProbe:
            httpGet:
              path: "{{ .Values.healthcheck.path }}"
              port: http
            initialDelaySeconds: {{ .Values.healthcheck.readiness.initialDelaySeconds }}
            periodSeconds: {{ .Values.healthcheck.readiness.periodSeconds }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          envFrom:
            - configMapRef:
                name: {{.Release.Name}}-premium-carousel-api-configmap
          env:
            - name: PROMETHEUS_ENABLED
              value: {{ .Values.prometheus.enabled }}
            - name: DATABASE_HOST
              valueFrom:
                secretKeyRef:
                  name: resource-premium-carousel-db
                  key: HOST
            - name: DATABASE_PORT
              valueFrom:
                secretKeyRef:
                  name: resource-premium-carousel-db
                  key: PORT
            - name: DATABASE_USER
              valueFrom:
                secretKeyRef:
                  name: resource-premium-carousel-db
                  key: USER
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: resource-premium-carousel-db
                  key: PASS
            - name: DATABASE_NAME
              valueFrom:
                secretKeyRef:
                  name: resource-premium-carousel-db
                  key: DB
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
